<div class="message-container-fluid bg-color-primary5">
  <div class="blog--header" style="background-image: linear-gradient(rgba(18,149,117, 01), rgba(250,250,250,0.3)), url('<%= cl_image_path @community.photo.key, height: 500, crop: :fill %>')">
    <div class="header--text">
      <h1 class="text-black title--header"><%=@community.name  %></h1>
    </div>
  </div>
  <div class="container">
    <h3 class="text-black mt-3">Comments</h3>
    <div class="comment--section bg-color-primary5">
      <%= render partial: "show_welcome", locals: { message: @messages.first } %>
      <% @messages.slice(1..).each do |message| %>
      <%= render partial: "show", locals: { message: message } %>
      <% end %>
    </div>
  </div>
</div>

<%# ##MESAGE FORM %>

<div class="container">
  <%= simple_form_for [@community, @message], html: { class: "message--form p-5 mt-2 d-inline" },  remote: true do |f| %>
    <div class="d-flex flex-row align-items-center justify-content-start">
      <%= f.input :message, label: 'Insert your message', input_html: { class: "gray-border-rounded mr-4 p-0 adjust--with"}, wrapper_html: { class: "flex-grow-1"} ,
      :label_html => { :class => 'fs-6 text-black' } %>
      <%= button_tag type: 'submit', class: "btn btn-primary mx-2 p-2 mt-3" do %>
        <i class="fas fa-share"></i>
      <% end %>
    </div>
    <%# <div class="form-actions"> %>
      <%# <%= link_to "Leave",  community_membership_path(current_user.id, @membership.id), class:"btn btn-danger mb-3 ", method: :delete, remote: true, data: { confirm: 'Are you sure?' } %>

    <%# </div> %>
  <% end %>
</div>
