<div class="message-container-fluid bg-color-primary5">

    <div class="blog--header" style="background-image: linear-gradient(rgba(18,149,117, 01), rgba(250,250,250,0.3)), url('<%= cl_image_path @community.photo.key, height: 500, crop: :fill %>')">
      <div class="header--text">
        <h1 class="text-black title--header"><%=@community.name  %></h1>
      </div>
    </div>
    <div class="container">
      <h3 class="text-black mt-3">Comments</h3>
      <div class="comment--section bg-color-primary5">



        <% @messages.each do |message| %>
          <div class="comment mt-3">
          <div class="comment-heading">
              <% if message.user.photo.attached? %>
                <%= cl_image_tag message.user.photo.key , class: "mr-2 rounded", 'aria-haspopup': true, 'aria-expanded': false, size: "32x32" %>
              <% else %>
                <%= image_tag "https://cdn-icons-png.flaticon.com/512/190/190673.png?w=360", class: "mr-2 rounded", 'aria-haspopup': true, 'aria-expanded': false, size: "32x32" %>
              <% end %>
              <div class="comment-info">
                <%# <img  class="mr-2 rounded" style="width: 32px; height: 32px;" src="https://cdn-icons-png.flaticon.com/512/190/190673.png?w=360"> %>

                <% if (((message.created_at - DateTime.now)/(60*60*24)).abs.to_f.ceil) == 1 %>
                    <p><strong><%= message.user.fullname%> </strong> <%= ((message.created_at - DateTime.now)/(60*60)).abs.to_i%> hours ago </p>
                  <% elsif ((message.created_at - DateTime.now)/(60*60*24)).abs.to_f.ceil < 4  %>
                    <p><strong><%= message.user.fullname%> </strong> <%= ((message.created_at - DateTime.now)/(60*60*24)).abs.to_i%> days ago </p>

                  <% else %>
                    <p><strong><%= message.user.fullname%> </strong> <%= message.created_at.strftime("%d/%m/%Y") %></p>
                  <% end %>
              </div>
            </div>

            </div>

            <div class="comment-body text-black mx-5">

              <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                  <%= message.message %>

              </p>
                <% if policy(message).destroy? %>
                  <%= link_to  message_path(message), class:"danger-text mx-2", method: :delete, remote: true, data: { confirm: 'Are you sure?' } do %>
                    <i class="fas fa-trash-alt"></i>
                  <% end %>
                <% end %>
            </div>
              <% end %>
            </div>
          </div>

              </div>

        </div>

  <div class="message-form m-4 ">
        <%= simple_form_for [@community, @message] do |f| %>
        <div class="form-inputs">
          <%= f.input :message, label: 'Insert your message', input_html: { class: "gray-border-rounded"},
          :label_html => { :class => 'fs-6 text-black' } %>
        </div>
        <div class="form-actions">
         <%= button_tag type: 'submit', class: "btn btn-primary mb-3", method: :post do %>
            <i class="fas fa-share"></i>
          <% end %>
          <%# <%= f.button :submit, "", class: "btn btn-primary mb-3"%>
          <%= link_to "Leave Community", community_membership_path(current_user.id, @membership.id), class:"btn btn-danger mb-3 ", method: :delete, remote: true, data: { confirm: 'Are you sure?' } %>


        <% end %>

        </div>
    </div>
  </div>
</div>
