
<div class="container-fluid mt-4">
  <div class="row flex-row flex-nowrap overflow-scroll hide-scrollbar">
    <% @recipes.first(6).each do |recipe| %>
      <div class="col-6 col-sm-4 ">
        <div class="card-slider relative w-full">
          <%= link_to recipe, class: "text-decoration-none" do %>
            <div class="relative">
              <%= cl_image_tag recipe.photo.key, class: "img-cover" %>
              <div class="absolute top-0 justify-content-end z-20 d-flex w-full smaller pt-2 pe-2">
                <div class="badge_rating d-flex text-black">
                  <%= image_tag "icon/rating-star.svg" %> <%= recipe.reviews.average(:rating).to_f.round(2)  %>
                </div>
              </div>
            </div>
            <div class="small bold text-gray1 text-center mt-3"><%= recipe.name%></div>
            <div class=" d-flex justify-content-between align-items-center mt-3 pb-3 px-2">
              <div class="global_time smaller text-gray3">
                Time <br><span class="bold text-gray1"> <%= recipe.time %></span>
              </div>
              <div class="d-flex h-full global_bookmark">
                 <%= link_to recipe_favourites_path(recipe),  remote: true, method: :post do %>
                  <%= image_tag "icon/bookmark.svg", class: "icon" %>
                  <% end %>
                </div>
            </div>
          <%end%>
        </div>
      </div>
    <%end%>
  </div>
</div>

<div class="container-fluid mt-4">
  <h2 class="normal bold text-black">5 Broccoli recipes to make this week </h2>
  <div class="row flex-row flex-nowrap overflow-scroll hide-scrollbar">
    <% @recipes.first(5).each do |recipe| %>
      <div class="col-12 ">
        <div class="card-slider relative w-full">
          <%= link_to recipe, class: "text-decoration-none" do %>

            <div class="relative">
              <%= cl_image_tag recipe.photo.key, class: "img-cover" %>
              <div class="absolute top-0 justify-content-end z-20 d-flex w-full smaller pt-2 pe-2">
                <div class="badge_rating d-flex text-black">
                  <%= image_tag "icon/rating-star.svg" %>3.5
                </div>
              </div>
            </div>

            <div class="small bold text-gray1 text-center mt-3"><%= recipe.name%></div>

            <div class=" d-flex justify-content-between align-items-center mt-3 pb-3 px-2">
              <div class="global_time smaller text-gray3">
                Time <br><span class="bold text-gray1"> <%= recipe.time %></span>
              </div>
              <div class="d-flex h-full global_bookmark">
                <a class="icon_button" href="#"><%= image_tag "icon/bookmark.svg", class: "icon" %></a>
              </div>
            </div>
          <%end%>
        </div>
      </div>
    <%end%>
  </div>
</div>

<div class="container-fluid mt-4">
  <h2 class="normal bold text-black">Communities for you</h2>
  <div class="row flex-row flex-nowrap overflow-scroll hide-scrollbar">
     <% @communities.first(5).each do |community|  %>
      <div class="col-6 col-sm-4 ">
        <div class="card-slider relative w-full">
        <%= cl_image_tag community.photo.key, class: "img-cover" %>
          <%= link_to community, class: "text-decoration-none" do %>
            <div class="small bold text-gray1 text-center mt-3"><%= community.name%></div>
          <%end%>
        </div>
      </div>
    <%end%>
  </div>
</div>
