<div class="col-12">
  <div class="relative">
    <%= cl_image_tag @recipe.photo.key, class: "img-cover aspect-landscape" %>
    <div class="absolute top-0 justify-content-end z-20 d-flex w-full smaller pt-2 pe-2">
      <div class="badge_rating d-flex text-black">
        <%= image_tag "icon/rating-star.svg" %><%= @recipe.reviews.average(:rating).to_f.round(2)  %>
      </div>
    </div>
  </div>
</div>

<div class="recipe-info d-flex justify-content-between w-full py-3 px-4 mt-0 text-gray3 small bg-color-primary5">
  <div class="text-center">
    Difficulty <br><span class="bold text-gray1"> <%= @recipe.difficulty %></span>
  </div>
  <div class="text-center">
    Time <br><span class="bold text-gray1"> <%= @recipe.time %></span>
  </div>
  <div class="text-center">
    Servings <br><span class="bold text-gray1"> <%= @recipe.serves %></span>
  </div>
</div>
<div class="container-fluid">
  <h2 class="header bold text-gray1 text-center mt-3"><%= @recipe.name %></h2>
  <button type="button" class="btn btn-primary btn-lg btn-block">Start cooking</button>
</div>


<div class="container-fluid mt-3">
  <h2 class="normal bold text-gray1">Ingredients</h2>
  <ul class="text-gray2 small ps-0">
    <% @recipe.ingredients.split(',').each do |ingridient| %>
      <li class="list-group-item pt-1"> <%= ingridient %></li>
    <% end %>
  </ul>
</div>


<div class="container-fluid mt-3">
  <ul class="text-gray2 small ps-0">
    <% @recipe.steps.split('--').each_with_index do |step, index| %>
      <h2 class="normal bold text-gray1">Step <%= index + 1 %></h2>
      <li class="list-group-item pt-1"> <%= step %></li>
    <% end %>
  </ul>
</div>

<div class="container">
  <%= link_to 'Add to favourites',  recipe_favourites_path(@recipe), method: :post, class:"btn-primary" %>
  <%= link_to 'Leave a review',  new_recipe_review_path(@recipe), class:"btn-primary" %>
  <%# link_to "Profile", profile_path(@profile.id, param1: 'value1', param2: 'value2'), method: :post %>
   <% if policy(@recipe).destroy? %>
    <%= link_to 'Delete this recipe', @recipe, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-lg btn-danger" %>
   <% end %>
</div>
