<div class="col-12">
  <div class="relative image--header">
    <%= cl_image_tag @recipe.photo.key, class: "img-cover img-300 gradient--image-primary" %>
  </div>
</div>

<div class="container-fluid mt-3 text-center">


  <div class="header bold text-gray1  mt-3">
    <%= @recipe.name%>
  </div>
  <div class="d-flex align-items-center justify-content-center gap-4 py-3">
    <!-- bookmark toggle -->
    <div class="d-flex h-full global_bookmark  align-items-center gap-1">
      <%= image_tag "icon/bookmark.svg", class: "icon" %>
      <div class="small text-primary1">Save</div>
    </div>
    <!-- bookmark toggle end -->



    <!-- rate -->
   <%= render partial: "review_modal", locals: {  } %>

    <!-- rate end -->
  </div>
</div>
<div class="recipe-info d-flex justify-content-between w-full py-3 px-4 my-3 text-gray2 small bg-color-primary5">
  <div class="text-center">
    Difficulty <br><span class="bold text-gray1"> <%= @recipe.difficulty %></span>
  </div>
  <div class="text-center">
    Time <br><span class="bold text-gray1"> <%= @recipe.time %></span>
  </div>
  <div class="text-center">
    Servings <br><span class="bold text-gray1"> <%= @recipe.serves %></span>
  </div>
</div>


<div class="container-fluid mt-4">
  <h2 class="large bold text-gray1">Ingredients</h2>
  <ul class="text-gray2 small ps-0 pt-1">
    <% @recipe.ingredients.split('--').each do |ingredient| %>
      <div class="ingredient--info d-flex flex-row my-2 bg-color-primary5 text-gray1 px-3 py-3 border--round--10">
        <input  class="me-2"type="checkbox" aria-label="Checkbox for following text input"> <li class="list-group-item pt-1"> <%= ingredient %></li>
      </div>
    <% end %>
  </ul>
</div>

  <%= render partial: "cooking_modal", locals: {  } %>

    <%# CTA BUTTONS %>

    <div class="">
      <div class="action--buttons">
        <button type="button" class="btn btn-primary " data-action= 'demo1#launchDemo' >Start Cooking!</button>
      </div>
    </div>
  </div>
</div>


<%# REVIEWS SECTION %>
<hr class="text-gray3 mx-3 d-flex justify-content-center ">

<div class="review--section mx-3 mt-5 mb-5">
  <div class="d-flex align-items-center justify-content-between pb-3">
    <!-- Reviews title -->
    <div class="d-flex ">
       <h2 class="text-gray1 large bold mb-0">Reviews</h2>
    </div>
    <!-- Reviews title end -->
    <!-- button modal -->
    <div class="d-flex">
   <%= render partial: "review_modal", locals: {  } %>

    </div>
    <!-- button modal end -->
   </div>



  <div class="pb-2">
 <% if @recipe.reviews.length === 0 %>
    <p class= "text-gray3 letter--space">No reviews yet</p>

<% else %>

  <% @recipe.reviews.order(created_at: :desc).first(3).each do |review| %>
      <div class="comment mt-3">
        <div class="comment-heading gap-1">
          <% if review.user.photo.attached? %>
            <%= cl_image_tag review.user.photo.key , class: "mr-2 rounded", 'aria-haspopup': true, 'aria-expanded': false, size: "32x32" %>
          <% else %>
            <%= image_tag "https://cdn-icons-png.flaticon.com/512/190/190673.png?w=360", class: "mr-2 rounded", 'aria-haspopup': true, 'aria-expanded': false, size: "32x32" %>
          <% end %>
          <div class="comment-info">
            <p class="text-gray1"><strong><%= review.user.fullname%> </strong> <%= review.created_at.strftime("%d/%m/%Y") %></p>
          </div>
        </div>

      </div>

      <div class="comment-body text-gray1 ms-5">
        <p class="media-body pb-3 mb-0 small lh-125  d-flex">
            <%= review.content %>
            <br>
            <%= ("⭐️" * review.rating )  %>
            <% if policy(review).destroy?%>
              <%= link_to  recipe_review_path(@recipe, review), class:"danger-text mx-2", method: :delete, remote: true do %>
                <i class="fas fa-times"></i>
              <% end %>
            <% end %>
        </p>
      </div>
  <% end %>
  <% end %>
  </div>
  <% if @recipe.reviews.length > 3 %>
      <%= link_to 'View more', recipe_reviews_path(@recipe), class:"mt-5 small text-primary1 text-decoration-none" %>
    <% end %>

</div>


<%# SEPARATOR %>
<hr class="text-gray3 mx-3 d-flex justify-content-center ">

<div class = "d-flex justify-content-start mx-3 mb-4">
   <% if policy(@recipe).destroy? %>
    <%= link_to "Delete Recipe", @recipe, method: :delete, data: { confirm: 'Are you sure?' }, class:"text-danger decoration--none py-3 ps-0"%>
   <% end %>
</div>
