<div class="col-12">
  <div class="relative image--header">
    <%= cl_image_tag @recipe.photo.key, class: "img-cover img-300 gradient--image-primary" %>
    <div class="absolute top-0 justify-content-end z-20 d-flex w-full smaller pt-2 pe-2 banner-star">
      <div class="badge_rating d-flex text-black">
        <%= image_tag "icon/rating-star.svg" %><%= @recipe.reviews.average(:rating).to_f.round(2)  %>
      </div>
    </div>
  </div>
</div>


<div class="recipe-info d-flex justify-content-between w-full py-3 px-4 mt-0 text-gray3 small bg-color-primary5">
  <div class="text-center">
    Difficulty <br><span class="bold text-gray1"> <%= @recipe.difficulty %></span>
  </div>
  <div class="text-center">
    Time <br><span class="bold text-gray1"> <%= @recipe.time %></span>
  </div>
  <div class="text-center">
    Servings <br><span class="bold text-gray1"> <%= @recipe.serves %></span>
  </div>
</div>



<div class="container-fluid mt-3">
  <h2 class="normal bold text-gray1 mx-3">Ingredients:</h2>
  <ul class="text-gray2 small ps-0">
    <% @recipe.ingredients.split('--').each do |ingredient| %>
      <div class="ingredient--info d-flex flex-row m-3 bg-color-primary5 p-3">
        <input  class="mx-3"type="checkbox" aria-label="Checkbox for following text input"> <li class="list-group-item pt-1"> <%= ingredient %></li>
      </div>
    <% end %>
  </ul>
</div>


<%# <div class="container-fluid mt-3"> %>
  <%# <ul class="text-gray2 small ps-0"> %>
    <%# <% @recipe.steps.split('--').each_with_index do |step, index| %>
      <%# <h2 class="normal bold text-gray1">Step <%= index + 1 %>
      <%# <li class="list-group-item pt-1"> <%= step %>
    <%# <% end %>
  <%# </ul> %>
<%# </div> %>




  <%# ###REVIEW MODAL %>
  <div class="modal--review container sign-in mt-5" data-controller="demo">
    <div class="modal" data-demo-target="modal" data-controller="modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="fw-semibold fs-1">Leave  review</h2>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" data-action="click->modal#close" ></button>
          </div>
          <div class="modal-body">
            <%= simple_form_for [ @recipe, @review ] do |f| %>
              <%= f.input :content, input_html: { class: "gray-border-rounded"} %>
              <%= f.input :rating, input_html: { class: "gray-border-rounded"} %>
              <%= f.submit "Submit review", class: "btn btn-primary w-100" %>
            <% end %>
          </div>
          <div class="modal-footer">
            <%# <button data-action="click->modal#close" class="btn btn-secondary">Close</button> %>
          </div>
        </div>
      </div>
    </div>

    <%# END OF REVIEW MODAL %>


    <%# COOKING MODAL %>

    <div class="modal--review container sign-in mt-5" data-controller="demo1">
      <div class="modal" data-demo1-target="modal" data-controller="modal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h2 class="fw-semibold fs-1">Cook</h2>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" data-action="click->modal#close" ></button>
            </div>
            <div class="div" data-controller="modalcooking">
              <% index = 0 %>
            <div class="modal-body" >
              <h4 data-modalcooking-target="index" >Step <%=index + 1 %> </h4>
              <div class="step-container" data-modalcooking-target="content">
                <% @recipe.steps.split('--').each do |step| %>
                  <div class="step inactive--div">
                  <p><%=step  %></p>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="modal-footer">
              <button  data-action="click->modalcooking#previous" class="btn btn-primary text-white" data-modalcooking-target="previous" >Previous</button>
              <button  data-action="click->modalcooking#next" class="btn btn-primary text-white" data-modalcooking-target="next">Next</button>
              <%# <button data-action="click->modal#close" class="btn btn-secondary">Close</button> %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%# END OF COOKING MODAL %>

    <%# CTA BUTTONS %>

    <div class="container-fluid">
      <div class="action--buttons">
        <button type="button" class="btn btn-primary m-3 " data-action= 'demo1#launchDemo' >Start Cooking!</button>
        <%= button_to 'Leave a review',  '#', class:"btn btn-primary m-3 ", :data => {  :action => 'demo#launchDemo' } %>
      </div>
    </div>

    <%# link_to "Profile", profile_path(@profile.id, param1: 'value1', param2: 'value2'), method: :post %>
  </div>

</div>
<div class = "d-flex justify-content-start mx-4">
   <% if policy(@recipe).destroy? %>
    <%= link_to "Delete Recipe", @recipe, method: :delete, data: { confirm: 'Are you sure?' }, class:"text-danger decoration--none"%>
   <% end %>
</div>

<%# REVIEWS SECTION %>
<hr class="text-gray3 w-50 mx-auto d-flex justify-content-center ">

<div class="review--section mx-3 mb-5">
  <h2 class="text-black">Reviews</h2>
  <% @recipe.reviews.sample(3).each do |review| %>
      <div class="comment mt-3">
        <div class="comment-heading">
          <% if review.user.photo.attached? %>
            <%= cl_image_tag review.user.photo.key , class: "mr-2 rounded", 'aria-haspopup': true, 'aria-expanded': false, size: "32x32" %>
          <% else %>
            <%= image_tag "https://cdn-icons-png.flaticon.com/512/190/190673.png?w=360", class: "mr-2 rounded", 'aria-haspopup': true, 'aria-expanded': false, size: "32x32" %>
          <% end %>
          <div class="comment-info">
            <p><strong><%= review.user.fullname%> </strong> <%= review.created_at.strftime("%d/%m/%Y") %></p>
          </div>
        </div>

      </div>

      <div class="comment-body text-black mx-5">
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <%= review.content %>
        </p>
      </div>
  <% end %>
  <%= link_to 'View more reviews', recipe_reviews_path(@recipe), class:"mt-5" %>
</div>
