<div class="col-12">
  <div class="relative image--header">
    <%= cl_image_tag @recipe.photo.key, class: "img-cover img-300 gradient--image-primary" %>
  </div>
</div>

<div class="container-fluid mt-3 text-center">


  <div class="header bold text-gray1  mt-3">
    <%= @recipe.name%>
  </div>
  <div class="d-flex align-items-center justify-content-center gap-4 py-3">
    <!-- bookmark toggle -->
    <div class="d-flex h-full global_bookmark  align-items-center gap-1">
      <%= image_tag "icon/bookmark.svg", class: "icon" %>
      <div class="small text-primary1">Save</div>
    </div>
    <!-- bookmark toggle end -->

    <!-- rate -->
    <div class="d-flex h-full global_bookmark  align-items-center gap-1">
      <%= image_tag "icon/message.svg", class: "icon" %>
      <div class="small text-primary1">Leave a review</div>
    </div>
    <!-- rate end -->
  </div>
</div>



<div class="recipe-info d-flex justify-content-between w-full py-3 px-4 my-3 text-gray2 small bg-color-primary5">
  <div class="text-center">
    Difficulty <br><span class="bold text-gray1"> <%= @recipe.difficulty %></span>
  </div>
  <div class="text-center">
    Time <br><span class="bold text-gray1"> <%= @recipe.time %></span>
  </div>
  <div class="text-center">
    Servings <br><span class="bold text-gray1"> <%= @recipe.serves %></span>
  </div>
</div>


<div class="container-fluid mt-4">
  <h2 class="large bold text-gray1">Ingredients</h2>
  <ul class="text-gray2 small ps-0">
    <% @recipe.ingredients.split('--').each do |ingredient| %>
      <div class="ingredient--info d-flex flex-row my-2 bg-color-primary5 text-gray1 px-3 py-3 border--round--10">
        <input  class="me-2"type="checkbox" aria-label="Checkbox for following text input"> <li class="list-group-item pt-1"> <%= ingredient %></li>
      </div>
    <% end %>
  </ul>
</div>


<%# <div class="container-fluid mt-3"> %>
  <%# <ul class="text-gray2 small ps-0"> %>
    <%# <% @recipe.steps.split('--').each_with_index do |step, index| %>
      <%# <h2 class="normal bold text-gray1">Step <%= index + 1 %>
      <%# <li class="list-group-item pt-1"> <%= step %>
    <%# <% end %>
  <%# </ul> %>
<%# </div> %>




  <%= render partial: "cooking_modal", locals: {  } %>

    <%# CTA BUTTONS %>

    <div class="container-fluid">
      <div class="action--buttons">
        <button type="button" class="btn btn-primary " data-action= 'demo1#launchDemo' >Start Cooking!</button>
      </div>
    </div>

    <%# link_to "Profile", profile_path(@profile.id, param1: 'value1', param2: 'value2'), method: :post %>
  </div>
</div>
<div class = "d-flex justify-content-start mx-4">
   <% if policy(@recipe).destroy? %>
    <%= link_to "Delete Recipe", @recipe, method: :delete, data: { confirm: 'Are you sure?' }, class:"text-danger decoration--none"%>
   <% end %>
</div>

<%# REVIEWS SECTION %>
<hr class="text-gray3 w-50 mx-auto d-flex justify-content-center ">

<div class="review--section mx-3 mb-5">
  <h2 class="text-gray1 large bold">Reviews</h2>



  <%= render partial: "review_modal", locals: {  } %>

  <% @recipe.reviews.order(created_at: :desc).first(3).each do |review| %>
      <div class="comment mt-3">
        <div class="comment-heading">
          <% if review.user.photo.attached? %>
            <%= cl_image_tag review.user.photo.key , class: "mr-2 rounded", 'aria-haspopup': true, 'aria-expanded': false, size: "32x32" %>
          <% else %>
            <%= image_tag "https://cdn-icons-png.flaticon.com/512/190/190673.png?w=360", class: "mr-2 rounded", 'aria-haspopup': true, 'aria-expanded': false, size: "32x32" %>
          <% end %>
          <div class="comment-info">
            <p><strong><%= review.user.fullname%> </strong> <%= review.created_at.strftime("%d/%m/%Y") %></p>
          </div>
        </div>

      </div>

      <div class="comment-body text-black mx-5">
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray d-flex">
            <%= review.content %>
            <%= ("⭐️" * review.rating )  %>
        </p>
      </div>
  <% end %>
  <%= link_to 'View more reviews', recipe_reviews_path(@recipe), class:"mt-5" %>
</div>
